@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --font-color: rgba(22, 28, 45, 0.7);
  --bg-color: #fff;
  --heading-color: #232121;
  --border-radius: 6px;
  --border-radius-full: 35px;
  --border-color: transparent;
  --border-color-light: #eee;
  --nav-color: #232121;
  --dropdown-color: #fff;
  --iframe-filter: grayscale(0%);
  --bg-light: rgba(130, 115, 252, 0.05);
  --bg-grey: #f7f7f7;
  --footer-bg: #000;
  --card-bg: #fff;
}
.dark {
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --font-color: #c2d0da;
  --bg-color: #232220;
  --heading-color: #eee;
  --border-color: rgba(255, 255, 255, 0.2);
  --border-color-light: rgba(255, 255, 255, 0.1);
  --nav-color: #fff;
  --dropdown-color: #121725;
  --iframe-filter: grayscale(100%);
  --bg-light: #282828;
  --bg-grey: #282828;
  --card-bg: #888c96;
  --footer-bg: #000;
}

body {
  overflow-x: hidden;
  font-family: "Quicksand", sans-serif;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
}

section {
  background-color: var(--bg-color);
}
/* ================== Banner ==================== */
.banner {
  background-size: cover;
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url("../image/banner1.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 700px;
}
.banner__container {
  margin-top: 100px;
  height: 100%;
}
.menu {
  background: rgba(2, 2, 2, 0.794);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  align-items: center;
  visibility: hidden;
  transition: all 0.5s;
}

.showMenu {
  visibility: visible;
}

.menu__nav .nav-item {
  text-align: center;
  margin: 1rem 0;
}

.menu__nav .nav-item .nav-link {
  color: var(--dropdown-color);
  font-weight: 700;
  font-size: 1.5rem;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler i {
  cursor: pointer;
  color: #fff;
  padding: 1rem 0;
}

.navbar-brand {
  font-size: 36px;
  font-weight: 700;
}

.navbar-brand,
.fa-moon,
.fa-sun,
.navbar-toggler-icon {
  color: var(--bg-color) !important;
}

.fa-moon {
  cursor: pointer;
}

.form {
  position: relative;
  padding-right: 1rem;
}
.form input {
  outline: none;
  border-color: var(--border-color-light);
  background: var(--bg-color);
  border-radius: 0.5rem;
}

.btn-form {
  position: absolute;
  right: 1rem;
  top: 0;
}

.btn-form i {
  color: var(--font-color);
}
.banner__content,
.banner__sub,
.btn-link {
  color: #fff;
}

.banner__title {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
}

.banner__sub {
  margin: 3rem 0;
}
.btn-link {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  font-weight: 700;
}

.banner__content .button {
  margin-bottom: 2rem;
}

.btn-link:hover {
  color: var(--primary-color);
  text-decoration: none;
  background: #fff;
}
@media (max-width: 425px) {
  .banner__title {
    font-size: 1.75rem;
    line-height: 2.7rem;
  }

  .banner__sub {
    font-size: 1rem;
  }
}
/* ================= About ==================== */
.about {
  padding: 4rem 0;
  background-color: var(--bg-color);
}
.about__head {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: var(--primary-color);
  font-family: "Pacifico", cursive;
}
.about__title {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  color: var(--heading-color);
}
.about--left {
  padding-right: 5rem;
}
.about__sub {
  color: var(--heading-color);
}

@media (max-width: 425px) {
  .about__title {
    font-size: 1.5rem;
  }
  .about--left {
    padding-right: 0;
  }
  .about__sub {
    font-size: 1rem;
  }
}
/* ================= Best ==================== */
.best__image {
  background: url("../image/banner3.jpg") no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 600px;
}

.best__image::before {
  content: "";
  background: rgb(16 15 19 / 46%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.best__content {
  color: #fff;
  background-color: var(--primary-color);
}

.best__infor--head,
.new--sub {
  font-family: "Pacifico", cursive;
}

.best__infor--title {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  color: var(--heading-color);
}

.best__infor--des,
.best__subcribe p {
  color: #fff;
}

.subcribe__icon i {
  color: var(--primary-color);
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.8rem;
}

.subscribe--link {
  display: block;
  color: var(--heading-color);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 20px;
}
.subscribe--link:hover {
  color: var(--heading-color);
}
/* ================= News ==================== */
.new {
  background-color: var(--bg-color);
}
.new--sub {
  color: var(--primary-color);
}
.new--title {
  font-size: 38px;
  line-height: 48px;
  font-weight: 900;
  color: var(--heading-color);
}

.new__slide-img {
  position: relative;
}

.new__slide-img:before {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  content: " ";
  position: absolute;
  background: rgba(0, 0, 0, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.new__slide-img img {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
}

.new__slide-img img:hover {
  opacity: 0.85;
  transition: all 0.4s;
}

.new__slide-info {
  left: auto;
  bottom: 0;
  width: 95%;
  padding: 0 10px;
  position: absolute;
  opacity: 1;
  color: #fff;
  transform: translate3d(0, 10%, 0);
}

.new__slide-info a h4 {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}

.new__slide-info a:hover {
  color: #4f9da6;
}

.new__slide-info h6 {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  opacity: 0.9;
}

.new__slide-info span {
  font-weight: 600;
  color: var(--secondary-color);
  font-size: 18px;
  letter-spacing: 1px;
}
/* ================= Service ==================== */
.allServices {
  padding: 48px 0;
}
.allServices__item {
  padding: 40px;
  border: 1px solid var(--border-color);
  box-shadow: 0 25px 98px 0 rgb(0 0 0 /3%);
  border-radius: 8px;
  background-color: var(--bg-color);
  transition: 0.5s;
}
.allServices__item:hover {
  box-shadow: 0 25px 98px 0 rgb(0 0 0 /10%);
}
.allServices__top {
  display: flex;
  gap: 30px;
}

.allServices__item p {
  color: var(--font-color);
}

.allServices__icon {
  background-color: var(--bg-color);
  border-radius: 6px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  color: var(--primary-color);
  text-align: center;
  font-size: 25px;
  transition: 0.5s;
}
.allServices__icon:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.allServices__info {
  height: 70px;
}
.allServices__info p {
  margin-bottom: 10px;
}
.allServices__info a {
  font-size: 24px;
  font-weight: 700;
  color: var(--nav-color);
}
.allServices__info a:hover {
  color: var(--primary-color);
}
.allServices__item p {
  font-size: 18px;
  line-height: 28px;
}
.deli {
  text-align: center;
  background-image: url("../image/banner2.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 550px;
}

.deli__content {
  position: relative;
  z-index: 10;
}

.deli:before {
  content: "";
  background: rgb(16 15 19 / 66%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
}

.deli .delicious {
  height: 100%;
  width: 100%;
}
.deli__title {
  font-size: 45px;
  line-height: 55px;
  font-weight: 700;
  color: #fff;
}
.deli__buttons .btn-white {
  border: 1px solid #fff;
  color: #fff;
  transition: 0.5s;
}
.deli__buttons .btn-white:hover {
  color: #ff6600;
  background-color: #fff;
}
.deli__buttons .btn-orange {
  background-color: #ff6600;
  color: #fff;
  border: 1px solid #ff6600;
  transition: 0.5s;
}
.deli__buttons .btn-orange:hover {
  background-color: #ff6600c2;
  border: 1px solid #ff6600c2;
}
.stats__content {
  position: relative;
  z-index: 1;
  margin-top: -70px;
}
.stats__item {
  text-align: center;
  height: 100%;
  box-shadow: 1px 1px 5px 0 var(--bg-grey);
  background-color: var(--bg-color);
  padding: 40px 20px;
  border-radius: 6px;
  transition: 0.5s;
}
.stats__item:hover {
  box-shadow: 2px 2px 10px 0 var(--bg-grey);
  transform: translateY(-10px);
}
.stats__icon {
  background: #ff6600;
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  line-height: 68px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}
.stats__number {
  color: var(--nav-color);
  font-size: 2.6em;
  font-weight: 700;
}

.stats__item p {
  color: var(--nav-color);
}

.video__content {
  position: relative;
}
.video__item {
  background-image: url("../image/banner3.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 500px;
  position: relative;
  z-index: 1;
}
.video__item::before {
  content: "";
  background-color: rgba(8, 8, 8, 0.5);
  border-radius: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
.icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video__icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 26px;
  line-height: 80px;
  border-radius: 50%;
  transition: 0.3s;
  animation: ripple 1s linear infinite;
  color: #ff6600;
  background: #fff;
  transition: 0.5s;
}
.video__icon:hover {
  color: #fff;
  background: #ff6600;
  width: 90px;
  height: 90px;
  line-height: 90px;
}
.video__item a {
  z-index: 2;
  position: absolute;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

/* Blog */

.card {
  position: relative;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: none;
  border-radius: 0;
}

.title-subhny {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
  display: block;
  font-family: "Pacifico", cursive;
}
.title-w3l {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  color: var(--nav-color);
}
.card > .card__head > a img {
  border-radius: 6px;
}
.card__detial a {
  text-decoration: none;
  background: var(--primary-color);
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: 0.05em;
  cursor: pointer !important;
}
.card .card__detial {
  position: absolute;
  bottom: 210px;
  left: 10px;
  z-index: 10;
}
.card__detial span {
  color: #fff;
  margin-left: 10px;
  font-size: 15px;
  letter-spacing: 0.02em;
}
.card .card__body a.body__head {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: var(--nav-color);
  margin-top: 25px;
  margin-bottom: 15px;
  text-decoration: none;
  cursor: pointer;
}

.card__body p {
  color: var(--nav-color);
}

.card .card__text {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
.card .card__text .card__info {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: flex-start;
}
.card .card__text .card__info a img {
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}
.card .card__text .card__info a {
  font-weight: 700;
  color: var(--nav-color);
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}
.card .card__text a.card-read {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--nav-color);
  opacity: 0.9;
  text-decoration: none;
  cursor: pointer;
}
.card .card__text a.card-read:hover {
  color: var(--primary-color);
}
/* testmonials */
.swiper-wrapper > .swiper-slide > a > img {
  width: 90px;
  height: 90px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  margin: 36px;
}

.testimonial__item {
  text-align: center;
}
.swiper-pagination {
  left: 50%;
  transform: translateX(10px);
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  transform: translate(-50%, 50%);
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #e9ecef;
  margin-right: 5px;
  opacity: 0.9;
}
.swiper-pagination-bullet-active{
  background: var(--primary-color);
}

.testimonial-text h3.text-sub,
.testimonial-text p {
  color: var(--nav-color);
}

.testimonial-text h3.text-sub::before {
  content: " ";
  font-size: 50px;
  color: var(--primary-color);
  display: block;
  font-family: initial;
  width: 10px;
  height: 10px;

  margin: 0px auto;
  margin-bottom: 25px;
}
/* footer */

.footer {
  background: var(--footer-bg);
}

.footer-logo h3 a {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
}
.footer-logo h3 a:hover {
  color: var(--primary-color);
}
.col-header p.p-sub {
  font-size: 17px;
  line-height: 1.5;
  color: #a5a2a1;
}
.col-header .main-social i.fab {
  margin-right: 10px;
  color: var(--primary-color);
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 6px;
  transition: 0.3s;
}

.col-header .main-social i.fab:hover {
  color: #fff;
  background: var(--primary-color);
}
.col-mid h6 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}
.col-mid li a.col-midsub {
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  font-size: 17px;
  line-height: 30px;
  color: #fff;
}
.col-mid li a.col-midsub:hover {
  color: var(--primary-color);
}
.col-mid ul {
  list-style: none;
}

.col-end h6 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}
.col-end p {
  font-size: 17px;
  line-height: 1.5;
  color: #a5a2a1;
}
.col-end form input {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: rgba(22, 28, 45, 0.7);
  background: #fff;
  border-radius: 6px;
}
.col-end form button {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  font-weight: 700;
  width: 100%;
  color: #fff;
  background: #ff6600;
  border-radius: 6px;
}

.col-end form button.button-end:hover {
  background: #ff6600d3;
 
}

.footer-border {
  border-top: solid 1px #232121;
}

.col-text p {
  align-self: center;
  color: #ddd;
  font-size: 17px;
}

.col-text p a {
  color: #ff6600;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.col-text p a:hover {
  color: #fff;
}

.end-footer ul {
  list-style: none;
}

.end-footer li {
  margin-right: 20px;
}

.end-footer li a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
  text-decoration: none;
}

.end-footer li a:hover {
  color: #ff6600;
}

/* BackToTop */
.BacktoTop {
  width: 60px;
  height: 60px;
  background-color: #ff6600;
  border-radius: 30px;
  font-size: 3rem;
  text-align: center;
  line-height: 80px;
  color: #fff;
  position: fixed;
  right: 50px;
  bottom: 50px;
  opacity: 0;
  /* visibility: hidden; */
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.BacktoTop .top-icon {
  text-align: center;
  color: white;
  font-size: ;
  bottom: 13px;
  position: relative;
}
